.interiors__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: var(--text-color);
  text-align: center;
  letter-spacing: -0.01em;
  grid-area: "title";
  margin: 0 0 15px 0;
}

@media screen and (min-width: 768px) {
  .interiors__title {
    margin: 0 0 35px 0;
  }
}