.announcement__subtext {
  font-size: 1rem;
  line-height: 1.2;
  color: var(--announcement-color);
  margin: 15px 0 0 0;
}

@media screen and (min-width: 1024px) {
  .announcement__subtext {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1280px) {
  .announcement__subtext {
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 24px 0 0 0;
  }
}