.announcement__title {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.1;
  font-weight: 600;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .announcement__title {
    font-size: 36px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1280px) {
  .announcement__title {
    font-size: 48px;
    line-height: 1.5;
  }
}