.button-sm {
  background-color: var(--buttonBG-color);
  color: var(--button-color);
  font-size: 16px;
  line-height: 1.187;
  font-weight: normal;
  border: none;
  margin: 0;
  padding: 8px 16px;
  border-radius: 10px;
  opacity: 1;
}

.button-sm:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button-sm {
    padding: 14px 16px;
    line-height: 1.187;
  }
}