:root {
  --text-color: rgba(25, 34, 82, 1);
  --announcement-color: rgba(132, 143, 172, 1);
  --buttonBG-color: rgba(14, 23, 52, 1);
  --button-color: #fff;
  --footerBG-color: rgba(11, 38, 90, 1);
  --footerText-color: rgba(217, 219, 222, 1);
  --footerTitle-color: #fff;
  --houseTitle-color: rgba(0, 0, 0, 1);
  --houseLink-color: rgba(66, 79, 123, 1);
}