.announcement {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 425px) {}

@media screen and (min-width: 768px) {
  .announcement {
    display: grid;
    grid-template-columns: calc(51% - 15px) calc(49% - 15px);
    gap: 30px;
  }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1280px) {}