.announcement__btn {
  margin-top: 15px;
}

@media screen and (min-width: 1024px) {
  .announcement__btn {
    margin-top: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .announcement__btn {
    margin-top: 75px;
  }
}