.footer__content {
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0;
}

@media screen and (min-width: 1024px) {
  .footer__content {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer__content {
    padding: 120px 0;
  }
}