.interiors {}

@media screen and (min-width: 768px) {
  .interiors {
    position: relative;
    height: 548px;
  }
}

@media (min-width: 1024px) {
  .interiors {
    height: 578px;
  }
}

@media screen and (min-width: 1280px) {
  .interiors {
    height: 648px;
  }
}

@media screen and (min-width: 1440px) {
  .interiors {
    height: 748px;
  }
}