.announcement__text {
  margin-bottom: 25px;
}

@media screen and (min-width: 425px) {
  .announcement__text {
    padding-right: 24px;
    align-self: center;
  }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1280px) {
  .announcement__text {
    max-width: 584px;
  }
}