.reservation__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;
  gap: 24px;
}

@media screen and (min-width: 1024px) {
  .reservation__text {
    margin-bottom: 88px;
  }
}