.reservation__text {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: #848FAC;
  max-width: 590px;
  margin: 24px 426px 32px 426px;
  text-align: center;
}